body {
    font-family: "Proxima-Nova", sans-serif;
    font-size: 18px;
    margin: 20px;
    }
    
    a {
      color: #1e0221;
      font-weight: 600;
    }
    
    a:hover {
     background-color: #BDFFFF;
    }
    
    h1 {
      font-size: 30px;
    }
    
    h2 {
      font-size: 22px;
      font-weight: 800;
    }

    h3 {
      margin-top: 0;
    }

  /* Individual Project Pages */

.project-image {
  max-width: 60%;
}

.project-image-small {
  max-width: 40%;
}