:root {
  --light-blue: #BDFFFF;
  --dark-blue: #270BEE;
  --gold: #FDA801;
}

/* Typography */

body {
    font-family: "Proxima-Nova", sans-serif;
    font-size: 18px;
    text-align: center;
    }
    
    a {
      color: #1e0221;
      font-weight: 600;
     /* font-family: "Belleza", sans-serif;*/
    }
    
    .nav-link:hover {
     background-color: var(--light-blue);
    }
    
    h1 {
      font-size: 30px;
      margin: 0;
    }
    
    h2 {
      font-size: 22px;
      font-weight: 500;
    }

    h3 {
      margin-top: 0;
    }

    #welcome-caption {
      color: var(--dark-blue);
    }

/* Navigation */

    header {
      display: flex;
      background-color: #FFFFFF;
      padding: 15px;
      position: fixed;
      top: 0;
      left: 0;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }
    
    #header-img {
      position: relative;
      width: 100px;
      max-width: 20%;
      height: auto;
    }
    
    #navbar {
      margin: 1vw;
      top: 0;
      padding-top: 10px;
    }
    
    nav li {
      display: inline;
    }
    
    nav a {
      color: var(--dark-blue);
    }

    .nav-link {
      padding: 10px;
    }

/* About Me section*/

    #welcome-section {
      background-color: #faf9ff;
      padding: 0px;
      text-align: center;
      z-index: 1;
    }

   .welcome-container {
    display: flex;
    justify-content: center;
   }

   #cat-img {
    margin-bottom: -4px;
   }
   #cat-img img{
    max-width: 350px;
    height: auto;
   }

   #welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   }

  .about-me p {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    }

  .about-me {
    padding: 20px 60px;
    }
    
/* Projects - section */

    .projects-header {
      text-transform: uppercase;
      color: white;
    }
    
    .projects-header, #about, #projects, #connect {
      background-color: var(--light-blue);
      padding: 20px;
      text-align: center;
    }
    
    .intro {
      font-family: "Belleza", sans-serif;
      font-size: 26px;
      font-weight: 800;
      text-transform: uppercase;
      color: var(--gold);
    }

    .project-container {
      display: flex;
      justify-content: center; 
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin: 15px auto;
    }
    
    .project-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 40px;
      margin: 10px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      height: 300px;
      border: 1px solid var(--gold);
      overflow: hidden;
      background-color: var(--light-blue);
    }

    #ybh-preview {
      background-image: url("home-page.png");
    }

    #membership-preview {
      background-image: url("membership-page.png");
    }

    .project-preview {
    position: relative;
    top: 90%;
    background-color: var(--gold);
    padding: 5px 10px;
    height: 100%;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    }
    
    .project-preview img {
      max-width: 100%;  
      border-radius: 50%; 
    }
  
    .project-card:hover > .project-preview {
      top: 60%;
    }

    .github {
      margin-bottom: 20px;
    }

/* remove hover for touchscreens on smaller devices */

  @media (max-width: 1024px) {
    .project-preview {
      top: 60%;
    }

    .project-card:hover > .project-preview{
    top: 60%;
    }
  }

  @media (max-width: 767px) {
    .project-preview {
      top: 50%;
    }

    .project-card:hover > .project-preview{
    top: 50%;
    }
  }

/* Connect With Me - section */

    #footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .contact a {
    display: block;
    }

    .fa-sun {
    margin: 20px auto;
    color: var(--gold);
    --fa-animation-timing: ease;
    }
    
  

/* Smaller Screen Sizes */
    @media (max-width:767px) {

      .about-me p, p {
        font-size: 16px;
      }
      h3 {
        font-size: 18px;
        margin: 0px;
      }
      #cat-img img{
        max-height: 300px;
        width: auto;
       }

      .welcome-container {
        flex-direction: column;
      }
   
      .projects-header, #about, #projects, #connect {
        padding: 10px;
      }
    }
    